helpers/External/fdep_21jun2010
prototyping/Pho2021/LapPositionCurve.fig
prototyping/Pho2021/OccupancyCurve.fig
2021-09-23 Analysis/PlaceFields.fig
2021-09-23 Analysis/PlaceFields.pdf
2021-09-23 Analysis/PlaceFields_Bidirectional_GlyphPlot.pdf
Data
PhoMatlabDataScripting
2021-10-26 Analysis - Sequence Lead:Lag/Figures
2021-10-26 Analysis - Sequence Lead:Lag/LikelihoodsAndPlaceMaps.mat
2021-10-26 Analysis - Sequence LeadLag/LikelihoodsAndPlaceMaps.mat
2021-10-26 Analysis - Sequence LeadLag/Figures
2021-10-26 Analysis - Sequence LeadLag/NeuralNetworkClustering/Figures
*.asv
*_Results_*.mat
*.fig
event_matches.mat
